<article class="prose">
  <% if comment.status && comment.status != "PUBLIC" %>
    <p class="my-5">
      <strong>
        <%= comment.status %>
      </strong>
    </p>
  <% end %>
  <p class="my-5">
    <%= render 'users/preview', user: comment.user %>
  </p>
  <%= comment.content %>
  <% if action_name != 'show' %>
    <%= link_to 'Edit this comment', edit_comment_path(comment), class: 'btn-to-submit' %>
    <hr class="mt-6">
  <% end %>
</article>
