<article class="prose">
  <% if comment.status && comment.status != "PUBLIC" %>
    <p class="my-5">
      <strong>
        <%= comment.status %>
      </strong>
    </p>
  <% end %>
  <p class="my-5">
    <%= render 'users/preview', user: comment.user %>
  </p>
  <%= comment.content %>
</article>
