<%= turbo_frame_tag comment_dom_id(@commentable_type, @commentable_id, @offset),
target: comment_dom_id(@commentable_type, @commentable_id, @offset += 1) do %>
  <div class="min-w-full p-5 border rounded-lg">
    <% @comments.each do |comment| %>
      <%= render 'show', comment: comment %>
    <% end %>
  </div>
  <% if @has_more_comments %>
    <div class="flex items-center min-w-full">
      <%= link_to 'Show more', url_for(params.permit!.merge(offset: @offset)),
        class: 'min-w-full text-center click-hide text-md' %>
    </div>
    <%= turbo_frame_tag comment_dom_id(@commentable_type, @commentable_id, @offset),
      target: comment_dom_id(@commentable_type, @commentable_id, @offset += 1) %>
  <% end %>
<% end %>
