<%= turbo_frame_tag 'comments', target: '_top' do %>
  <div class="min-w-full p-5 border rounded-lg">
    <% @comments.each do |comment| %>
      <%= turbo_frame_tag dom_id(comment), src: comment_path(comment) %>
      <hr class="mt-6" />
    <% end %>
  </div>
<% end %>
