<%= turbo_frame_tag "comments#{@offset}offset", target: "comments#{@offset += 1}offset" do %>
  <div class="min-w-full p-5 border rounded-lg">
    <% @comments.each do |comment| %>
      <%= render 'show', comment: comment %>
    <% end %>
  </div>
  <% if @has_more_comments %>
    <div class="flex items-center min-w-full">
      <a href="<%= "/comments/#{@commentable_type}/#{@commentable_id}?offset=#{@offset}" %>"
      class="min-w-full text-center text-md">Show more</a>
    </div>
    <%= turbo_frame_tag "comments#{@offset}offset", target: "comments#{@offset += 1}offset" %>
  <% else %>
    <div class="flex items-center min-w-full">
      <p class="min-w-full py-5 text-lg text-center">You have reached the bottom.</p>
    </div>
  <% end %>
<% end %>
