<%= turbo_frame_tag 'new_comment' do %>
  <div class="w-full mx-auto">
    <p class="my-5">
      <%= render 'users/preview', user: current_user %>
    </p>
    <%= render 'form', comment: @comment, commentable_type: @commentable_type, commentable_id: @commentable_id %>
    <%= link_to 'Cancel', :back, class: 'ml-2 btn-to-show' %>
  </div>
<% end %>
