<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">History</h1>
    <%= link_to 'Go back to post', post_path(@post), class: 'block btn-to-show' %>
  </div>
  <div id="changes" class="min-w-full">
    <%= render partial: 'change', collection: @changes %>
  </div>
</div>
