<div class="flex w-full mx-auto md:w-2/3">
  <div class="mx-auto">
    <%= render @post %>
    <% if @post.mutable_to? current_user %>
      <%= link_to 'Edit this post', edit_post_path(@post), class: 'mt-2 btn-to-show' %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: 'mt-2 btn-to-show' %>
      </div>
    <% end %>
    <%= link_to 'Back to posts', posts_path, class: 'ml-2 btn-to-show' %>
  </div>
</div>
